<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Dwel" />
    <meta property='og:image' content="<%= image_url('dwel_img.png') %>"/>
    <meta property="og:description"
      content="Dwel - A clone of Zillow - An online platform that allows users to find their next home."
    />
    <meta property="og:url"
      content="https://dwel-us.herokuapp.com/"
    />
    <link rel="shortcut icon" type="image/png/ico" href="<%= image_url('fav.png') %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <title>Dwel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <% if current_user %>
      <script>
        window.currentUser = <%= render("api/users/currentUser.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCN68-_2u-5nEVa4GSUmo5QB5AsiF3lf7A&map_ids=696c56eefc98b101" %>

    <script>
      window.hero = '<%= image_url 'hero.jpg' %>'
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
